:root {
  --white-color: #fff;
  --black-color: #1b1b1b;
  --orange-color: #ffa31a;
  --green-color: #32cd32;
  --red-color: #dc143c;
}

body {
  background-color: var(--black-color);
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.login-form {
  position: relative;
  background-color: black;
  width: 400px;
  height: 300px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.login-form:hover {
  transform: scale(1.2);
  transition: all 0.4s ease;
  box-shadow: 0 0 20px var(--orange-color);
}

.login__header1 {
  font-size: 30px;
  font-weight: bold;
  color: var(--orange-color);
  text-align: center;
  padding-bottom: 10px;
}

.login__header2 {
  font-size: 14px;
  text-align: center;
  color: var(--white-color);
}

.signup {
  color: var(--orange-color);
  text-decoration: none;
}

.signup:hover {
  text-decoration: underline;
}

.form {
  text-align: center;
  width: 100%;
}

.form__input {
  height: 30px;
  width: 70%;
  outline: none;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 16px;
  font-weight: bold;
}

.form-button {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  color: black;
  border: none;
  width: 50%;
  height: 30px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.button__cancel {
  border-radius: 10px 0 0 10px;
  background-color: var(--red-color);
}

.button__cancel:hover {
  box-shadow: 0 0 15px var(--red-color);
}

.button__login {
  border-radius: 0 10px 10px 0;
  background-color: var(--green-color);
}

.button__login:hover {
  box-shadow: 0 0 15px var(--green-color);
}
