:root {
  --white-color: #fff;
  --black-color: #1b1b1b;
  --orange-color: #ffa31a;
}

/* màu nền, font, box sizing */

body {
  background-color: var(--white-color);
}

* {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* phần chứa toàn bộ web */

.container {
  width: 100%;
  height: 100%;
}

/* phần logo và search */

.header {
  width: 100%;
  height: 120px;
  background-color: black;
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 5;
}

.header__logo img {
  height: 100%;
  width: auto;
}

.header__search {
  display: flex;
  align-items: center;
}

.header__searchbar input {
  width: 500px;
  height: 30px;
  padding-left: 10px;
  border-radius: 10px 0 0 10px;
  background: var(--white-color);
  color: var(--black-color);
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 12px;
}

.header__searchbar button {
  position: absolute;
  width: 30px;
  height: 30px;
  padding-right: 10px;
  background-color: var(--white-color);
  color: black;
  border-radius: 0 10px 10px 0;
  text-align: center;
  font-size: 12px;
  border: none;
  font-weight: bold;
}

.header__searchbar button:hover {
  cursor: pointer;
  color: var(--orange-color);
}

/* phần menu ngang */

.menu {
  display: flex;
  width: 100%;
  height: 50px;
  margin-top: 120px;
  background-color: var(--orange-color);
  position: fixed;
  z-index: 4;
}

.menu__list {
  float: left;
  align-items: center;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.menu__item a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.menu__item a:hover {
  color: var(--white-color);
}

/* phần menu sắp xếp */

.menu-order {
  position: fixed;
  width: 100%;
  height: 40px;
  margin-top: 170px;
  background-color: var(--black-color);
  z-index: 2;
}

.menu-order__list {
  display: flex;
  width: 100%;
  height: 100%;
  margin-left: -30px;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}

.menu-order__item {
  padding: 0 10px;
}

.menu-order__item a {
  text-decoration: none;
  color: var(--white-color);
  font-size: 12px;
  font-weight: normal;
}

.menu-order__item a:hover {
  color: var(--orange-color);
}

.menu-order__item p {
  color: var(--white-color);
  font-size: 12px;
  font-weight: bold;
}

/* phần chứ nút login và darkmode */

.menu-button {
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

/* phần nút login */

.menu-button__login {
  background-color: var(--orange-color);
  padding: 4px;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  font-size: 12px;
}

.menu-button__login:hover {
  background-color: black;
  cursor: pointer;
  color: var(--white-color);
  transform: scale(1.2);
  transition: transform 0.4s;
}

/* phần nút darkmode */

.menu-button__darkmode {
  background-image: linear-gradient(to right, red, green, blue, indigo, violet);
  padding: 4px;
  border: 2px solid black;
  border-radius: 10px;
  color: var(--white-color);
  font-weight: bold;
  font-size: 12px;
  margin: 0 30px;
}

.menu-button__darkmode:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.4s;
  background-image: none;
  background-color: black;
}

.darkmode {
  background-color: black;
}

/* phần sub menu của menu ngang */

.submenu {
  background-color: var(--orange-color);
  color: black;
  width: fit-content;
  height: fit-content;
  position: absolute;
  z-index: 3;
  margin-left: -20px;
  border-radius: 0 0 10px 10px;
}

.submenu__list {
  display: none;
}

.menu__item:hover .submenu__list {
  list-style: none;
  display: block;
  padding-bottom: 20px;
}

.submenu__item {
  padding: 20px 20px 0 20px;
}

.submenu__item a {
  color: black;
  background-color: var(--orange-color);
  text-decoration: none;
}

.submenu__item a:hover {
  color: var(--white-color);
  background-color: var(--orange-color);
}

/* phần chứa sidemenu và video */

.content {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
}

/* phần side menu */

.side-menu {
  position: fixed;
  float: left;
  margin-top: 210px;
  background-color: var(--black-color);
  width: 15%;
  height: 100vh;
}

.side-menu__list {
  padding-left: 30px;
  list-style: none;
  display: block;
}

.side-menu__item {
  border-bottom: 2px solid var(--orange-color);
  margin-bottom: 50px;
  padding-bottom: 5px;
}

.side-menu__item a {
  font-weight: bold;
  text-decoration: none;
  color: var(--white-color);
}

.side-menu__item a:hover {
  color: var(--orange-color);
}

/* phần submenu của sidemenu */

.side-submenu {
  position: relative;
  background-color: var(--black-color);
  width: fit-content;
  height: fit-content;
}

.side-menu__item:hover .side-submenu__list {
  display: block;
  padding-left: 20px;
  list-style: none;
}

.side-submenu__list {
  display: none;
}

.side-submenu__item {
  padding-top: 20px;
}

.side-submenu__item a {
  font-weight: normal;
  text-decoration: none;
  color: var(--white-color);
}

.side-submenu__item a:hover {
  color: var(--orange-color);
}

/* phần chứa các video */

.video-container {
  width: 85%;
  padding: 30px;
  gap: 30px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  position: relative;
  margin-top: 210px;
  transform: translateX(202px);
  z-index: 1;
}

/* từng video */

.video {
  border-radius: 10px;
  position: relative;
  display: block;
  background-color: var(--black-color);
}
.video:hover {
  transform: scale(1.2);
  transition: transform 0.3s;
}

.video__thumbnail {
  width: 250px;
  border-radius: 10px 10px 0 0;
}

.video__info {
  padding-left: 10px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.video__info-title {
  height: fit-content;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  color: var(--orange-color);
  font-size: 12px;
}

.video__info-title:hover {
  text-decoration-line: underline;
}

.video__info-view {
  height: fit-content;
  position: relative;
  color: var(--orange-color);
  font-size: 10px;
}
