:root {
  --white-color: #fff;
  --black-color: #151d3b;
  --red-color: #d82148;
  --lightmode-color: #efefef;
  --darkmode-color: #141e27;
  --green-color: #32cd32;
}

body {
  background-color: var(--lightmode-color);
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form {
  position: relative;
  background-color: var(--black-color);
  border-radius: 40px;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.signup-form:hover {
  transform: scale(1.2);
  transition: all 0.4s ease;
}

.header {
  font-size: 30px;
  font-weight: bold;
  color: var(--white-color);
  text-align: center;
}
.form {
  width: 100%;
  text-align: center;
}

.form__input {
  width: 70%;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 16px;
  font-weight: bold;
  color: var(--black-color);
}

.confirm {
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirm__check {
  width: 15px;
  height: 15px;
  color: var(--black-color);
}

.confirm__text {
  color: var(--white-color);
  font-weight: normal;
  font-size: 12px;
  padding-left: 5px;
  cursor: pointer;
}

.form__button {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  color: var(--black-color);
  border: none;
  width: 50%;
  height: 30px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.cancel-button {
  border-radius: 10px 0 0 10px;
  background-color: var(--red-color);
}

.cancel-button:hover {
  box-shadow: 0 0 15px var(--red-color);
}

.signup-button {
  border-radius: 0 10px 10px 0;
  background-color: var(--green-color);
}

.signup-button:hover {
  box-shadow: 0 0 15px var(--green-color);
}
